# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
walkthrough.txt
.prettierrc
.eslintrc.json
.DS_Store
.env
/.next

npm-debug.log*
yarn-debug.log*
yarn-error.log*
